{% extends 'layout.html' %}

{% block title%}
Register a new user
{% endblock %}

{% block content%}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            <h1 class="h3 mb-3 font-weight-normal">
                Create a new account
            </h1>

            <br>

            {{form.username.label()}}
            {{form.username(class="form-control", placeholder="Input the username")}}

            {{form.email.label()}}
            {{form.email(class="form-control", placeholder="Input the e-mail")}}

            {{form.password.label()}}
            {{form.password(class="form-control", placeholder="Input the password")}}

            {{form.password_confirmation.label()}}
            {{form.password_confirmation(class="form-control", placeholder="Confirm your password")}}

            <br>
            
            {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
        </form>
    </div>   
</body>
{% endblock %}